/* Container for survey, sidebar and footer */
.surveyContainer {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: flex-end;

}
/* When sidebar is showing, the container will use grid for allocating space*/
.surveyContainerGrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
            "survey survey survey survey survey survey survey survey sidebar"
            "survey survey survey survey survey survey survey survey sidebar"
            "survey survey survey survey survey survey survey survey sidebar";
    grid-template-rows: auto ;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #F4F4F4;
}

.sv_main {
    grid-area: survey;
}

/*Button for showing/hiding sidebar has different layout based on state*/
.showSidebarBtn {
    width: 26px;
    height: 26px;
    grid-column: 9;
    grid-row: 1;
    background-color: transparent;
    border: none;
}

.hideSidebarBtn {
    position: absolute;
    tab-index: -1;
    background-color: transparent;
    border: none;
}

/*Sidebar styling*/

.sidebar {
    position: sticky;
    grid-area: sidebar;
    top: 2rem;
    align-self: start;
    width: 16em;
    line-height: 3rem;
    padding: 0;
    margin: 20px;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebarBtn {
    height: 16px;
    border-radius: 100%;
    background-color: #F2F0EA;
    border-color: #21314d;
    margin: 0 0.3em 0 0.1em;
}

.sidebar .sidebarTitles {
    display: flex;
    align-items: baseline;
    padding: 0;
    cursor: pointer;
}

.activeSidebarBtn {
    height: 20px;
    width: 20px;
    background-color: #76b5cb;
    border: 4px solid #21314d;
    margin: 0 0.3em 0 0;
}

/*Gives "melder" element some bottom-margin to give better visibility*/
.sv_p_root .sv_row:last-child {
    margin-bottom: 1em;
}


/* Footer */
.surveyFooter {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #21314d;
    z-index: 1000;
}


.actionBtnContainer {
    display: flex;
    justify-content: space-evenly;
}

.footerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 26px;
    width: fit-content;
    outline: none;
    padding: 0.1em 0.5em;
    font-weight: 600;
    border-radius: 5px;
    color: #21314d;
    border: none;
}

.footerBtn:hover {
    background-color: #93c9dd;
    transition: 300ms;
}

.submitBtn {
    background-color: #76b5cb;
}

.cancelBtn {
    background-color: #F2F0EA;
}

.toTopBtn {
    background-color: transparent;
    color: #F2F0EA;
    font-size: 12px;
}

.toTopBtn:hover {
    background-color: transparent;
    color: #93c9dd;
}




/*Media something for this

#sq_1082_ariaTitle{
    height: 0;
    margin: 0;
    padding: 0;
}*/