.surveyContainer {
    display: grid;
    grid-template-areas: "survey survey sidebar"
"survey survey sidebar"
"survey survey sidebar";
    grid-template-columns: auto;
    grid-template-rows: auto ;
}

.sidebar {
    position: sticky;

    grid-area: sidebar;
    align-self: start;
    top: 5rem;
}

.sidebar .sidebarTitles:hover{
    background-color: red;

}