/*Sidebar styling*/
.hide {
    display: none;
}

.sidebarContainer {
    top: 0;
    position: sticky;
    align-self: start;
    border-left: 0.2em solid #21314d;
    height: 100vh;
}

.sidebar {
    margin:0 0.4em 0 -11px;
    width: min-content;
    font-size: 0.9em;
}

/*Buttons*/
.sidebarNav {
    display: flex;
    align-items: baseline;
    padding: 0;
    cursor: pointer;
    margin: 2em 0 0 0;
}

.titleBtn {
    height: 16px;
    border-radius: 100%;
    background-color: #F2F0EA;
    border-color: #21314d;
    margin: 0 0.3em 0 0.1em;
}

.titleBtn:focus, .titleBtn:hover {
    background-color: #46658A;
}

.sidebarTitle {
    margin-left: 2px;
}

.sidebarTitle:focus, .sidebarTitle:hover{
    color: #46658A;
    transition: all .2s ease-out;
}

.activeTitleBtn {
    height: 20px;
    background-color: #21314d;
    border: 4px solid #21314d;
    margin: 0 0.2em 0 0;
    transition: background-color 1s ease-out;

}


/*Button for showing/hiding sidebar has different layout based on state*/


.showSidebarBtn, .hideSidebarBtn {
    background-color: #21314d;
    color: #fffffe;
    border: none;
    font-weight: bold;
    margin: 10px 0 0 0;
    font-size: 1em;
    transition: background-color 1s ease-out;


}
.showSidebarBtn {
     margin-left: -26px;
}

.showSidebarBtn:hover, .showSidebarBtn:focus, .hideSidebarBtn:hover, .hideSidebarBtn:focus {
    background-color: #46658A;
    color: #F2F0EA;
}


