/* Container for survey, sidebar and footer */
.surveyContainer {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: row-reverse;
}

.errorContainer {
    display: flex;
    place-items: center;
    flex-direction: column;
}

.sv_main {
    background-color: white;
}
    /*Ensures that the last fields does not hide behind the footer*/
.sv_main .sv_container .sv_body {
    padding-bottom: 4em;
}

/*Removing default lines*/
.sv_main .sv_p_root > .sv_row {
    border: none;
}

/*Header background color*/
.sv_main .sv_container {
    color: rgba(33, 49, 77, 0.82);
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

/*Survey header text*/
.sv_main .sv_header {
    border:none;
    color: #21314d;
    font-weight: bolder;
}

.sv_main .sv_custom_header{
    background-color: inherit;
}

.sv_main .sv_container .sv_header {
    padding: 10px 0 0 15px;
    width: 100%;
}

h3 .sv-string-viewer {
    font-size: x-large;
    font-weight: 500;
    color: #21314d;
}

/*Removing border-bottom header*/
.sv_main .sv_body {
    display: flex;
    place-items: center;
    border:none;
    background-color: #ffffff;
}

/*survey titles*/
h4 {
    font-size: 1.2em;
    color: #21314d;
}

/*question title*/
h5 {
    font-size: 1em;
    color: #21314d;

}

.sv_main .sv_container .sv_body .sv_p_root .sv_q_title {
    margin: 0.2em 0 0.2em 0;
    font-weight: 500;
}

/*question container*/
.sv_main .sv_container .sv_body .sv_p_root .sv_q {
    padding: 0.5em 0.5em 0.5em 1em;
}

/*START Title and content in survey*/
/*Background for title*/
.sv_main .sv_container .sv_body .sv_p_root > .sv_row:nth-child(n) {
    background-color: #F2F0EA;
    margin:15px 0 0 0;
    box-shadow: rgba(60, 64, 67, 0.17) 0 1px 2px 0, rgba(60, 64, 67, 0.07) 0 1px 3px 1px;
    border-radius: 2px ;
    padding: 5px
}


/*Background for only body of title*/
.sv_row {
    background-color: #F2F0EA;
    display: flex;
    align-items: end;
}

/*Title properties*/
.sv_main .sv_container .sv_body .sv_p_root .sv_p_title {
    margin:0;
    padding: 0.8em 0 0.2em 0.7em;
    color: #21314d;
}

/*END Title in survey*/


/*Input border color*/
input[type=checkbox] {
    background-color: #0c4128;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q input[type=radio]:focus, .sv_main .sv_container .sv_body .sv_p_root .sv_q input[type=checkbox]:focus {
    outline: 2px solid #46658A;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q input:not([type=button]):not([type=reset]):not([type=submit]):not([type=image]):not([type=checkbox]):not([type=radio]):focus {
    border: 2px solid #46658A;
}

/*Scroller design*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c4c4c6;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7a7979;
}


@media screen and (max-height: 687px) {
    .sidebar {
    overflow-y: auto;
    }
}